@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Robo Store</h1>
    <img src="~/Resources/rs_ICON.png" style="max-height:50vh; width:auto;" />
    <p><h2 style="color:ghostwhite;">For All Of Your All You Electronics Needs</h2></p>
</div>
