@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Your information is carefully packaged
    <br />into a mobile hard drive
    <br />loaded onto a rocket
    <br />launched into space
    <br />intersepted by ALIENS
    <br />who analyze it for details
    <br />and then use it....
    <br />...for
    <br />abslolutely nothing.
</p>
